<div class="container">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-2 hidden-xs">
            <h4>Company</h4>
            <ul class="list-unstyled">
                <li>About</li>
                <li>Careers</li>
                <li>Press</li>
                <li>Help</li>
                <li>Policies</li>
                <li>Terms & Privacy</li>
                <li>Imprint</li>
            </ul>
        </div>
        <div class="col-sm-3 hidden-xs">
            <h4>Discover</h4>
            <ul class="list-unstyled">
                <li>Trust & Safety</li>
                <li>Success Stories</li>
                <li>Mobile</li>
                <li>Our Algorithms</li>
                <li>Site Map</li>
            </ul>
        </div>
        <div class="col-sm-4 hidden-xs">
            <h4>Fintec & Marketing</h4>
            <ul class="list-unstyled">
                <li>Marketing Strategies</li>
                <li>Public Relation' Influences</li>
                <li>Blog</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="separator-horizontal-lighter">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p class="text-center text-grey legal-notice">
                fimatec 2015. All right reserved.
            </p>
        </div>
    </div>
</div>
