<div id="home" ng-controller="HomeController">
    <section id="home-search">
        <div class="container">
          <div class="row">
            <h2 class="text-main col-sm-5 text-center">
                Bringing Fintec to Marketing
            </h2>
          </div>
          <div class="row">
            <h4 class="text-black col-sm-5 text-center margin-top-4">
              Take control over your public relation's influence.
            </h4>
          </div>
          <div class="row">
            <div class="text-black col-sm-5 text-center margin-top-20">
              <a ng-click="displayRegisterModal()" class="btn btn-primary">Sign Up Now</a> - It's free!
            </div>
          </div>
        </div>
    </section>
</div>
