<section data-ng-controller="CompanyController" class="users" data-ng-init="initCompanyData()">
  <div class="container">
    <div class="content-full">
      <div class="content-box">
        <div class="box-head"></div>
        <div class="box-content">

        </div>
      </div>
      <div class="content-box">
        <div class="box-head">Public Relation and Asset History of {{ company }} in [USD]</div>
        <div class="box-content">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="chart-container">
                <canvas id="canvas" height="240" width="600"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-box">
        <div class="box-head">Recent Searches</div>


        <div class="table-row" ng-repeat="transaction in transactions | limitTo: 3">
          <div class="row row-parent">
            <div class="col-xs-2" class="description">{{transaction.description}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
