<section data-ng-controller="CompanyController" class="users pdf-printable" data-ng-init="initCompanyData()">
  <div class="container">
    <div class="content-full">
      <div class="content-box">
        <div class="box-head">

            <div class="pull-left">Impact Grid</div>
            <div class="pull-right">
              <a ng-click="exportAsPDF();" class="btn btn-primary pull-right">PDF Export</a>
            </div>

        </div>
        <div class="box-content" style="overflow: auto;">

	  <div style="float: left; width: 33%;">
	    <h3>Best Impact:</h3>
	    <br />
	    <ul class="list img-list">
              <li ng-repeat="b in best">
		  <div class="li-text left">
		    <a ng-click="selectNewspaper({{b.newspaper}})" class="inner">
		      {{b.newspaper}}
		    </a>
		  </div>
		  <div style="margin: 10px;">&nbsp;</div>
		  <div class="li-text right">
		    {{b.best_impact | number: 2}}
		  </div>
              </li>
	    </ul>
	  </div>

	  <div style="float: left; width: 33%;">
	    <h3>Max Impact:</h3>
	    <br />
	    <ul class="list img-list">
              <li ng-repeat="b in max">
		  <div class="li-text left">
		    <a ng-click="selectNewspaper({{b.newspaper}})" class="inner">
		      {{b.newspaper}}
		    </a>
		  </div>
		  <div style="margin: 10px;">&nbsp;</div>
		  <div class="li-text right">
		    {{b.max_impact | number: 2}}
		  </div>
              </li>
	    </ul>
	  </div>

	  <div style="float: left; width: 33%;">
	    <h3>Worst Impact:</h3>
	    <br />
	    <ul class="list img-list">
              <li ng-repeat="b in worse">
		  <div class="li-text left">
		    <a ng-click="selectNewspaper({{b.newspaper}})" class="inner">
		      {{b.newspaper}}
		    </a>
		  </div>
		  <div style="margin: 10px;">&nbsp;</div>
		  <div class="li-text right">
		    {{b.worst_impact | number: 2}}
		  </div>
		</a>
              </li>
	    </ul>
	  </div>

        </div>
      </div>
      <div class="content-box">
        <div class="box-head">Public Relation's Influence and Asset History of {{ company }} in [USD]</div>
        <div class="box-content">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="chart-container">
                <canvas id="canvas" height="240" width="600"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-box">
        <div class="box-head">
            <div class="pull-left">Related Articles</div>
        </div>
        <div class="table-row" ng-repeat="article in articles">
          <div class="row row-parent">
            <a href="{{article.url}}" class="col-xs-4" class="description" target="_blank">{{article.title}}</a>
            <div class="col-xs-offset-2 col-xs-4" class="description">{{ dateForArticle(article); }}</div>
            <button type="submit" class="btn btn-primary btn-small col-xs-2">View</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
