<div class="content-box" data-ng-init="receiveTransactionsToValidate();">
  <div class="box-head">Transactions</div>
  <div class="table-row" ng-repeat="transaction in transactions">
    <div class="row row-parent">
      <div class="col-xs-2" class="description">{{transaction.sender.display_name}}</div>

      <div class="col-xs-2" class="description">{{transaction.receiver.display_name}}</div>

      <div class="col-xs-3" class="description">{{transaction.description}}</div>


      <div class="col-xs-2" class="description">{{transaction.amount}} Euro</div>
      <div class="col-xs-3" class="description">
        <button type="submit" class="btn btn-danger btn-small" ng-click="verifyTransaction(transaction, false)">Cancel</button>
        <button type="submit" class="btn btn-primary btn-small" ng-click="verifyTransaction(transaction, true)">Verify</button>
      </div>
    </div>
  </div>
</div>
