<div class="content-box" data-ng-init="receiveUsers();">
  <div class="box-head">Users</div>
  <div class="table-row" ng-repeat="user in users | filter: skipSelfFilter">
    <div class="row row-parent">
      <div class="col-xs-2" class="description">{{user.displayName}}</div>
      <div class="col-xs-4" class="description">{{user.email}}</div>

      <div class="col-xs-2" class="description">
        Activated: <input type="checkbox" data-ng-model="user.isActive" ng-change="activateUser(user);">
      </div>

      <div class="col-xs-2" class="employee">
        Employee: <input type="checkbox" data-ng-model="user.isEmployee"  ng-change="activateUser(user);" ng-disabled="!user.isActive">
      </div>
    </div>
  </div>
</div>
