<div id="home" data-ng-controller="SearchController" >
    <section id="search-module">
        <div class="container">
          <div class="row col-sm-12 text-center">
            <h2 class="text-white">
                Which company you want to analyse?
            </h2>
          </div>
          <div class="row col-sm-12 text-center margin-top-20">
            <form class="form-inline" role="form">
              <input id="company-search" name="search" class="form-control" ng-enter="select(searchValue)" type="text" placeholder="e.g. Goldman Sachs" ng-model="searchValue" data-trim-value="false" ng-trim="false" data-animation="am-flip-x"  bs-options="display_name as display_name for searchResult in search($viewValue)" data-template-url="modules/search/views/searchbar-template.client.view.html" autocomplete="off" bs-typeahead>
            </form
          </div>
          <div class="row col-sm-12 text-center margin-top-20">
            <div class="text-black">
              <a ng-click="select(searchValue)" class="btn btn-primary company-search-button">Search</a>
            </div>
          </div>
        </div>
    </section>
</div>
