<ul class="nav">
  <li ui-sref-active="active">
    <a ui-sref="users.profilePrivate.contract">Contract Details</a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="users.profilePrivate.home">Edit Profile</a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="users.profilePrivate.media">Manage Image & Video</a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="users.profilePrivate.notifications">Notifications</a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="users.profilePrivate.privacy">Privacy</a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="users.profilePrivate.security">Security</a>
  </li>
</ul>
