<div class="content-box" data-ng-controller="PasswordController">
    <div class="box-head">Password Settings</div>
    <div class="box-content">
        <form class="form-horizontal" data-ng-submit="changeUserPassword()" autocomplete="off">
            <div class="form-group">
                <div class="col-sm-12">
                    <div data-ng-show="success" class="text-success">
                        <strong>Password Changed Successfully</strong>
                    </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="currentPassword" class="col-sm-3 control-label">Current Password</label>
                <div class="col-sm-9">
                    <input type="password" id="currentPassword" name="currentPassword" class="form-control" data-ng-model="passwordDetails.currentPassword" placeholder="Current Password">
                    <p>
                        <a data-ng-click="showModalForgotPassword()">Forgot your password?</a>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="newPassword" class="col-sm-3 control-label">New Password</label>
                <div class="col-sm-9">
                    <input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="New Password">
                </div>
            </div>
            <div class="form-group">
                <label for="verifyPassword" class="col-sm-3 control-label">New Password</label>
                <div class="col-sm-9">
                    <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Verify Password">
                </div>
            </div>
            <div class="form-group box-footer">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-primary btn-small">Save Password</button>
                </div>
            </div>
        </form>
    </div>
</div>
