<div class="content-box">
    <div class="box-head">Cookies</div>
    <div class="box-content">
        <div class="row">
            <div class="col-xs-12">
                <p>Accept Cookies</p>
            </div>
        </div>
        <form class="form-horizontal" data-ng-submit="" autocomplete="off">
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">
                            Include my profile and listing in search engines like Google and Bing (recommended)
                          </label>
                    </div>
                </div>
            </div>
            <div class="form-group box-footer">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-primary btn-small">Save Settings</button>
                </div>
            </div>
        </form>
    </div>
</div>
