<div class="content-box">
    <div class="box-head">Notification Settings</div>
        <form class="form-horizontal" data-ng-submit="" autocomplete="off">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">
                            I would like to receive E-Mails, if someone send me money.
                          </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">
                            I would like to receive E-Mails, if someone loged into my account.
                          </label>
                    </div>
                </div>
            </div>
            <div class="form-group box-footer">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-primary btn-small">Save Settings</button>
                </div>
            </div>         
        </form>
    </div>
</div>
