<div class="modal-content" ng-controller="ModalViewController">
  <button type="button" class="close" aria-label="Close" ng-click="hideModal()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="modal-header">
    <h4 class="modal-title text-center">Restore your password</h4>
  </div>
  <div class="modal-body" data-ng-controller="PasswordController">
    <form data-ng-submit="resetPassword()" autocomplete="off">
      <fieldset>
        <div data-ng-show="error" class="text-danger">
          <strong>{{error}}</strong>
        </div>
        <div data-ng-show="success" class="text-success">
          <strong>{{success}}</strong>
        </div>
        <div class="form-group">
          <input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Enter your account email"> </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-default pull-right">Submit</button>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <div ng-controller="AuthenticationController" class="text-center">
      Remembering again? Back to
      <a ng-href="/#!/#" ng-click="changeModal('login','xs',true)" class="modal-link">Log In</a>
    </div>
  </div>
</div>
