<div class="modal-content" ng-controller="ModalViewController">
  <button type="button" class="close" aria-label="Close" ng-click="hideModal()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="modal-header">
    <h4 class="modal-title text-center">Successful Registration</h4>
  </div>
  <div class="modal-body">
    <div class="text-center">
      Thank you for your Registration! An employee will check your details and than activate your account! Stay Tuned!
    </div>
  </div>
  <div class "modal-footer">
    <div class="text-center">
      <button ng-click="hideModal()" type="submit" class="btn btn-default">I Understand</button>
    </div>
  </div>
</div>
